@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --light: #f6f6f9;
  --primary: #005678;
  --light-primary: #05d9e8;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #25252c;
  --darker: #181a1e;
  --danger: #d32f2f;
  --light-danger: #fecdd3;
  --warning: #fbc02d;
  --light-warning: #fff2c6;
  --success: #005678;
  --light-success: #bbf7d0;
  --new-primary: #e86705;
  --new-light-primary: #f8b26a;
  --new-success: #05d9e8;
  --old-primary: #005678;
  --old-light-primary: #05d9e8;
  --old-success: #005678;
  transition: --primary 0.5s 0.2s cubic-bezier(0.4, 0, 0.2, 1), --light-primary 0.5s 0.2s ease-in-out, --success 0.5s 0.2s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--darker);
  background: var(--darker);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

/* library */
.home {
  background-color: var(--dark);
  color: var(--light);
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 400px;
  padding: 20px;
  max-width: 100%;
  min-height: 480px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}

.library {
  background-color: var(--darker);
  color: var(--light);
  border-radius: 20px;
  cursor: pointer;
  border: none;
  font-size: larger;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  padding: 14px;
  margin: 30px;
  z-index: 20;
  height: 60px;
  width: 200px;
}





.mainselect {
  background-color: var(--dark);
  color: var(--light);
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  padding: 14px;
  margin: 10px 10px;
  z-index: 20;
  top: 20%;
  left: 0%;
}

.main{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.portselect {
  background-color: var(--dark);
  color: var(--light);
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 400px;
  padding: 20px;
  max-width: 100%;
  min-height: 480px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}



.portselect h1 {
  text-align: center;
  margin-bottom: 20px;
}

.portselect p {
  text-align: center;
  margin-bottom: 20px;
}

.portselect .select {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -25%;
  align-items: center;
  justify-content: center;
  text-align: center;
  right: -15%;
  width: 70%;
  margin: 0 auto;

}

.text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 90px;
}

.portselect select {
  position: relative;
  background-color: var(--light);
  color: var(--dark);
  height: 40px;
  margin-bottom: 10px;
  align-items: center;
  width: 70%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}


.port p {
  text-align: center;
  margin-bottom: 20px;
  top: 54px;
  position: relative;
  right: 49px;



}

.portselect button {
  background-color: var(--primary);
  color: var(--light);
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}


.container {
  background-color: var(--dark);
  color: var(--grey);
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.container span {
  font-size: 12px;
}

.container a {
  color: var(--grey);
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.container button {
  background-color: var(--primary);
  color: var(--light);
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.container button.hidden {
  background-color: transparent;
  border-color: dark;
}

.container form {
  background-color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.container input {
  background-color: var(--light);
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.data-read {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.active .data-read {
  transform: translateX(100%);
}

.data-write {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.active .data-write {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
}

.container.active .toggle-container {
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}

.toggle {
  background-color: #512da8;
  height: 100%;
  background: linear-gradient(to right, var(--light-primary), var(--primary));
  color: var(--light);
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.container.active .toggle {
  transform: translateX(50%);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left {
  transform: translateX(-200%);
}

.container.active .toggle-left {
  transform: translateX(0);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
}

.container.active .toggle-right {
  transform: translateX(200%);
}

.Read {
  background-color: var(--primary);
  color: var(--light);
  transition: all 0.3s ease-out;
}

.Read.active {
  background-color: var(--dark-grey);
  color: var(--primary);
  transition: all 0.3s ease-in;
}

.serialStatus.active {
  background-color: var(--dark-grey);
  color: var(--primary);
  transition: all 0.3s ease-in;
}

.toggle-wrapper {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.toggle-wrapper span {
  font-size: 14px;
  color: var(--grey);
}

.switch {
  margin-right: 4px;
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--dark-grey);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--primary);
}

input:checked + .slider:before {
  transform: translateX(14px);
}

/* DROP DOWN MENU */
select{
  position: absolute;
  right: 50px;
  top: 50px;
  border:none;
  padding: 10px 20px;
  border-radius:5px;
}

select:focus{
  outline:none;
}