<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ID Management System</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/style.css">
  </head>

  <body>
    <div class="main">
      <div class="portselect">
        <div class="text">
          <h1>Select Port</h1>
          <p>Identify the port from device manager and select the port</p>  
        </div>
        <div class="select">
          <div class="port">
            <p>ID card COM Port</p> 
            <select name="port" id="port"></select>
          </div>
        </div>
        <button id="SerialSelector" class="serialStatus">Connect ID Port</button>
        </div>
    
        <div class="container" id="container">
          <div>
            <select class="mainselect">
              <option value="ID Card" selected="selected">ID Card</option>
              <option value="Book">Book</option>
            </select>
          </div>
          <div class="form-container data-write">
            <form>
              <h1>Place The Card</h1>
              <span>Click on write data after placing the card</span>
              <input id="newData" placeholder="New data that you want on the card" />
              <!-- <button id="startWrite">Start Writing</button> -->
              <button id="writeData" disabled>Write Data</button>
            </form>
          </div>
          <div class="form-container data-read">
            <form>
    
              <!-- Read UID & Data section  -->
              <h1>Tap The Card</h1>
              <span>Click on start reading and tap your rfid card</span>
              <!-- <input id="cardUID" placeholder="UID of the Card" /> -->
              <input id="cardData" placeholder="Data on the Card" />
    
              <!-- Keystroke Toggle -->
              <div class="toggle-wrapper">
                <label class="switch">
                    <input type="checkbox" id="keystrokeToggle" disabled>
                    <span class="slider"></span>
                </label>
                <span>Keystroke mode</span>
            </div>        
              
              <button class="Read" id="startRead" disabled>Start Reading</button>
              <button id="stopReading" disabled>Stop Reading</button>
            </form>
          </div>
          <div class="toggle-container">
            <div class="toggle">
              <div class="toggle-panel toggle-left">
                <h1>Data Writing Page</h1>
                <p>
                  Type the new data you want on the card in the input field and click write data to update the existing data in the card
                </p>
                <button class="hidden" id="stopWrite">Read Data</button>
              </div>
    
              <!-- Write data section -->
              <div class="toggle-panel toggle-right">
                <h1>Data Reading Page</h1>
                <p>The UID of the Card you scan and the Data on it will be filled in these fields</p>
                <button class="hidden" id="stopRead">Write Data</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- <script src="{{url_for('static', filename='script.js')}}"></script> -->
     <script src="../static/script.js"></script>
     <!-- for text change -->
     <script>
      // Get the mainselect dropdown and the p tag in the port class
      const mainSelect = document.querySelector('.mainselect');
      const portText = document.querySelector('.port p');
      const portBtn = document.querySelector('.serialStatus');

      // Add an event listener to the mainselect dropdown
      mainSelect.addEventListener('change', (e) => {
        // Get the selected value
        const selectedValue = e.target.value;

        // Update the text of the p tag in the port class
        if (selectedValue === 'Book') {
          portText.textContent = 'Book COM Port';
          portBtn.textContent = 'Connect Book Port';
        } else {
          portText.textContent = 'ID card COM Port';
          portBtn.textContent = 'Connect ID Port';
        }
      });
     </script>
     <!-- For color change -->
     <script>      
        // Add an event listener to the mainselect dropdown
        mainSelect.addEventListener('change', (e) => {
          // Get the selected value
          const selectedValue = e.target.value;

          // Update the colors when book is selected
          if (selectedValue === 'Book') {
            document.documentElement.style.setProperty('--primary', 'var(--new-primary)');
            document.documentElement.style.setProperty('--light-primary', 'var(--new-light-primary)');
            document.documentElement.style.setProperty('--success', 'var(--new-success)');
          } 
          
          else if (selectedValue === 'ID Card') {
            document.documentElement.style.setProperty('--primary', 'var(--old-primary)');
            document.documentElement.style.setProperty('--light-primary', 'var(--old-light-primary)');
            document.documentElement.style.setProperty('--success', 'var(--old-success)');
          }

        });
     </script>
  </body>
</html>
