<!DOCTYPE html>
<html lang="en">
  <head>
    <title>New Code</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>New Code</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/style.css">
  </head>

  <body>
    <div class="container" id="container">
      <div class="form-container data-write">
        <form>
          <h1>Place The Card</h1>
          <span>Click on write data after placing the card</span>
          <input id="newData" placeholder="New data that you want on the card" />
          <!-- <button id="startWrite">Start Writing</button> -->
          <button id="writeData">Write Data</button>
        </form>
      </div>
      <div class="form-container data-read">
        <form>
          <h1>Tap The Card</h1>
          <span>Click on start reading and tap your rfid card</span>
          <input id="cardUID" placeholder="UID of the Card" />
          <input id="cardData" placeholder="Data on the Card" />
          <button class="Read" id="startRead">Start Reading</button>
        </form>
      </div>
      <div class="toggle-container">
        <div class="toggle">
          <div class="toggle-panel toggle-left">
            <h1>Data Writing Page</h1>
            <p>
              Type the new data you want on the card in the input field and click write data to update the existing data in the card
            </p>
            <button class="hidden" id="stopWrite">Read Data</button>
          </div>
          <div class="toggle-panel toggle-right">
            <h1>Data Reading Page</h1>
            <p>The UID of the Card you scan and the Data on it will be filled in these fields</p>
            <button class="hidden" id="stopRead">Write Data</button>
          </div>
        </div>
      </div>
    </div>
    <!-- <script src="{{url_for('static', filename='script.js')}}"></script> -->
     <script src="../static/script.js"></script>
  </body>
</html>
